<%= form_for(@upload, :html => {:multipart => true}) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :placeholder => "Title" %>
  </div>
  <div class="field">
  	<%= f.file_field :document%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
